.ml8 {
    margin: 0 0 0 8px;
}

.w70 {
    width: 70px;
}

.mtb14 {
    margin: 14px 0;
}

.ml30{
    margin: 0 0 0 30px;
}

.ml5 {
    margin: 0 0 0 5px;
}

.mt27 {
    margin-top: 27px;
}

.mb9 {
    margin-bottom: 9px;
}

.mr_0 {
    margin-right: 0;
}

.mr_4 {
    margin-right: 4px;
}

.mr7 {
    margin-right: 7px;
}

.mr70 {
    margin-right: 70px;
}

.mr35 {
    margin-right: 35px;
}

.mb_60 {
    margin-bottom: 60px;
}

.mb_64 {
    margin-bottom: 64px;
}

.mb_118 {
    margin-bottom: 118px;
}

.ml_35 {
    margin-left: 35px;
}

.ml_24 {
    margin-left: 24px;
}

.ml_10 {
    margin: 0 0 0 10px;
}

.w_244 {
    width: 244px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_28 {
    margin-bottom: 28px;
}

.ml_5 {
    margin: 0 0 0 5px;
}

.ml_0 {
    margin-left: 0;
}

.mt_8 {
    margin: 8px 0 0 0;
}

.mt_60 {
    margin-top: 60px;
}

.mt_116 {
    margin-top: 116px;
}

.ml_16 {
    margin-left: 16px;
}

.mt_50 {
    margin-top: 50px;
}

.mb_22 {
    margin-bottom: 22px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mt_0 {
    margin-top: 0;
}

.mb_70 {
    margin-bottom: 70px;
}

.mt_108 {
    margin-top: 108px;
}

.mb_0 {
    margin-bottom: 0;
}

.mb_164 {
    margin-bottom: 164px;
}

.mr_14 {
    margin-right: 14px;
}

.mb_130 {
    margin-bottom: 130px;
}

.h_70 {
    height: 70px;
}

.h_50 {
    height: 50px;
}

.h_40 {
    height: 40px;
}

.h_35 {
    height: 35px;
}

.h_24 {
    height: 24px;
}

.h_18 {
    height: 18px;
}

.h_114 {
    height: 114px;
}

.h_90 {
    height: 90px;
}

.mt_40 {
    margin-top: 40px;
}

.w_880 {
    width: 880px;
}

.w_814 {
    width: 814px;
}

.w_470 {
    width: 470px;
}