//Переменные для цветов
//=============================================

$color-white: #ffffff;

$color-default: #999999;

$color-primary: #9C27B4;

$color-primary-hover: #7a1f8c;

$color-info: #03A9F4;

$color-info-hover: #1d84b3;

$color-success: #4CAF50;

$color-success-hover: #3d8f41;

$color-warning: #FBC02D;

$color-warning-hover: #c99b26;

$color-danger: #F44336;

$color-danger-hover: #bd372d;

